## Secci칩n 1: Carga y Diagn칩stico de Datos
Ejercicio 1.1: Diagn칩stico Estructural
Muestra la informaci칩n esencial del DataFrame murcielagos:

Tipo de dato de cada columna.

N칰mero de entradas no nulas por columna.

El n칰mero total de filas y el n칰mero total de columnas del conjunto de datos.

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

bats_df = pd.read_csv("archive/bats_information.csv")
bats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Shape                             30000 non-null  object
 1   Species                           30000 non-null  object
 2   Habitat                           30000 non-null  object
 3   Average Lifespan                  30000 non-null  object
 4   Environment                       30000 non-null  object
 5   Food                              30000 non-null  object
 6   DNA                               30000 non-null  object
 7   DNA Structure                     30000 non-null  object
 8   Protection from External Threats  30000 non-null  object
 9   Protection from Diseases          30000 non-null  object
 10  Susceptible Diseases              30000 non-null  object
dtypes: object(11)
memory usage: 2.5+ MB

In [5]:
bats_df.isnull().sum()

Shape                               0
Species                             0
Habitat                             0
Average Lifespan                    0
Environment                         0
Food                                0
DNA                                 0
DNA Structure                       0
Protection from External Threats    0
Protection from Diseases            0
Susceptible Diseases                0
dtype: int64

In [6]:
print(f"El numero total de filas {bats_df.shape[0]} y de columnas {bats_df.shape[1]}")

El numero total de filas 30000 y de columnas 11

In [7]:
bats_df.describe()

,Shape,Species,Habitat,Average Lifespan,Environment,Food,DNA,DNA Structure,Protection from External Threats,Protection from Diseases,Susceptible Diseases
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,5,18,8,5,4,5,5,4,5,5,5
top,Elongated fingers with membrane wings,Yangochiroptera (Microbat); Example: Fringed M...,Urban areas,20-25 years,Specific temperature/humidity needs,Hematophagous,Longevity-related genetic traits,Metabolic genes adapted for high energy demand,Large colony social structure,Genetic variations in pathogen receptors,Coronaviruses
freq,6084,1749,3843,6103,7524,6136,6063,7624,6132,6126,6143

Ejercicio 1.2: Inspecci칩n Categ칩rica
Para la columna Habitat, muestra el conteo de ocurrencias de los valores 칰nicos m치s frecuentes. (Pista: Usa el m칠todo que te da el recuento de cada valor).

Determina el n칰mero total de valores 칰nicos en la columna Species.

In [14]:
bats_df['Habitat'].value_counts()

Habitat
Urban areas              3843
Temperate forests        3776
Caves                    3766
Deserts                  3736
Human-made structures    3726
Tree hollows             3723
Rock crevices            3716
Tropical rainforests     3714
Name: count, dtype: int64

In [ ]:
bats_df['Species'].value_counts()
#nuquique() numero total de valores unicos
print(bats_df["Species"].nunique())
#Cuenta la cantidad de valores 칰nicos

18

--------------------

## Secci칩n 2: Limpieza y Transformaci칩n (Cadenas y Conversi칩n)
Ejercicio 2.1: Conversi칩n de Tipo y Limpieza
La columna Average Lifespan es de tipo object (texto), pero probablemente contiene n칰meros y unidades que impiden su uso. Sup칩n que los valores son n칰meros seguidos de la palabra "years" (ej. "15 years").

Crea una nueva columna llamada Lifespan_Years.

Limpia la columna original Average Lifespan eliminando el texto " years" (incluyendo el espacio) y convierte los valores resultantes a tipo num칠rico (float) en la nueva columna Lifespan_Years.

Muestra la media aritm칠tica de la nueva columna Lifespan_Years para verificar la conversi칩n.

In [ ]:
average_lifespan_sin_str = bats_df['Average Lifespan'].str.replace(' years', '', regex=False)
# como es 15- 20 years , years ya lo quitamos ahora hay que elegir los rangos y de esos tomar un valor medio
limites = average_lifespan_sin_str.str.split('-', expand=True) #expand true para conseguircolumnas separadas
# ahora calculamos el punto medio 
bats_df['Lifespan_Years']=(limites[0].astype(float)+ limites[1].astype(float)/2)
#anotacion es astype(float) es un metodo de pandas que se aplica a una serie , es mas eficiente(vectorizado), optimizado para operar sobre greandes copnjuntos de datos de forma nativa en c/numpy lo que lo hace mas rapido
bats_df['Lifespan_Years']

bats_df['Lifespan_Years'].mean()

np.float64(33.01475)

Ejercicio 2.2: Detecci칩n y Creaci칩n Categ칩rica
La columna DNA Structure es muy larga. Crea una nueva columna llamada Tiene_Helice_Doble que contenga solo valores booleanos (True/False):

Ser치 True si el texto de DNA Structure contiene la subcadena "Double Helix".

Ser치 False en caso contrario.

Muestra el conteo de True/False de la nueva columna.

In [37]:
bats_df['Tiene_Helice_Doble'] = [
    "Double-stranded" in i
    for i in bats_df['DNA Structure']
]
bats_df['Tiene_Helice_Doble'].value_counts()

Tiene_Helice_Doble
False    22470
True      7530
Name: count, dtype: int64

----------------------

## Secci칩n 3: An치lisis Descriptivo y Agrupaci칩n (Conteo y Agregaci칩n)
Ejercicio 3.1: Filtrado y Selecci칩n Condicional
Filtra el DataFrame para encontrar los registros donde el valor de Food es igual a "Insects" Y la nueva columna Lifespan_Years (del Ej. 2.1) es mayor a 10.

Muestra las 5 filas de esta selecci칩n, limitando las columnas a Species y Lifespan_Years.

Ejercicio 3.2: Agregaci칩n por Grupos
Agrupa el DataFrame por la columna Habitat.

Para cada grupo de Habitat, calcula y muestra:

La media de la columna Lifespan_Years.

El n칰mero total de especies distintas (Species) que se encuentran en ese h치bitat.

In [59]:
bats_df[(bats_df['Food']=='Insectivorous')&(bats_df['Lifespan_Years']>10)].sort_values(by='Shape',ascending=False).head(5)
# se puede hacer con drop 
# o se puede hacer con columns.difference , metodo de pandas
# que se usa para obtner todas las columnas de un DataFrame excepto las que
#le pases , basucamente lo mismo que drio pero devuelve un diex de columnas
# lo cual ideal apra usarlo con el .loc 
bats_df.loc[:, bats_df.columns.difference(['Species', 'Lifespan_Years'])].head(5)
# eso seria si fuera que queiro mostrar todas menos esas dos 
# entoces ahora voy ahcer solo mostrando solo esas columnas 
bats_df.loc[:, ['Species', 'Lifespan_Years']].head(5)

                                             Species  Lifespan_Years
0  Yangochiroptera (Microbat); Example: Big Brown...            25.0
1  Yangochiroptera (Microbat); Example: Little Br...            32.5
2  Yangochiroptera (Microbat); Example: Brandt's Bat            40.0
3  Yinpterochiroptera (Megabat); Example: Horsesh...            17.5
4  Yinpterochiroptera (Megabat); Example: Vampire...            17.5

In [57]:
bats_df.groupby(by='Habitat')['Lifespan_Years'].mean()
bats_df.groupby(by='Habitat')['Species'].nunique()

Habitat
Caves                    18
Deserts                  18
Human-made structures    18
Rock crevices            18
Temperate forests        18
Tree hollows             18
Tropical rainforests     18
Urban areas              18
Name: Species, dtype: int64

------------------

## Secci칩n 4: Visual EDA (Frecuencias)
Ejercicio 4.1: Distribuci칩n de Frecuencias
Crea un gr치fico de barras (Bar Plot) que muestre la frecuencia de ocurrencia de las diferentes categor칤as en la columna Environment.

Aseg칰rate de que las barras est칠n etiquetadas correctamente.

A침ade un t칤tulo que indique qu칠 est치s visualizando.

Ejercicio 4.2: Distribuci칩n de Riesgos
Crea un gr치fico circular (Pie Chart) para visualizar la proporci칩n de las cinco categor칤as m치s frecuentes en la columna Susceptible Diseases.

Agrupa todas las dem치s categor칤as menos frecuentes en una 칰nica categor칤a llamada "Otras Enfermedades".

-------------------

## 游늳 Secci칩n 5: Interpretaci칩n de Gr치ficos

Una vez que termines el  
Ejercicio 2.2, utiliza el DataFrame para resolver los siguientes ejercicios de creaci칩n e interpretaci칩n.

Ejercicio 4.1: Gr치fico de Barras (Frecuencia y Moda)Crea un gr치fico de barras (Bar Plot) que muestre la frecuencia de ocurrencia de las diferentes categor칤as en la columna Environment.INTERPRETACI칍N: 쮺u치l es la moda (el valor m치s frecuente) de la variable Environment? 쮺칩mo lo sabes mirando el gr치fico?

Ejercicio 4.2: Gr치fico Circular (Proporci칩n)Calcula las frecuencias de las diferentes categor칤as de Shape. Selecciona las tres categor칤as m치s frecuentes y agrupa el resto como "Otras Formas".Crea un gr치fico circular (Pie Chart) que visualice la proporci칩n porcentual de estas cuatro categor칤as.INTERPRETACI칍N: Si la categor칤a "Otras Formas" representa el $15\%$ del total, 쯖u치l es la proporci칩n combinada de las tres formas individuales m치s frecuentes?

Ejercicio 4.3: Histograma (Forma y Asimetr칤a)(Asumiendo que ya has creado la columna num칠rica Lifespan_Years con el punto medio)Crea un histograma para la columna Lifespan_Years. Utiliza 8 contenedores (bins).INTERPRETACI칍N: Describe la forma de la distribuci칩n. 쯇arece ser sim칠trica, tener sesgo a la derecha (asimetr칤a positiva) o sesgo a la izquierda (asimetr칤a negativa)?