## BOLET√çN DE PR√ÅCTICA ‚Äì Coffee Shop Sales Insights

In [33]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

coffee_df = pd.read_csv('archive/Coffe_sales.csv')

#### Muestra las 5 primeras filas

In [86]:
coffee_df.head(5)

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

Muestra las columnas y los tipos de datos

In [87]:
coffee_df.columns

Index(['hour_of_day', 'cash_type', 'money', 'coffee_name', 'Time_of_Day',
       'Weekday', 'Month_name', 'Weekdaysort', 'Monthsort', 'Date', 'Time'],
      dtype='object')

In [88]:
coffee_df.dtypes

hour_of_day            int64
cash_type             object
money                float64
coffee_name           object
Time_of_Day           object
Weekday               object
Month_name            object
Weekdaysort            int64
Monthsort              int64
Date           datetime64[s]
Time                  object
dtype: object

In [89]:
coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   datetime64[s]
 10  Time         3547 non-null   object
dtypes: datetime64[s](1), float64(1), int64(3), object(6)
memory usage: 304.9+ KB

In [90]:
print(f"El numero de filas es de {coffee_df.shape[0]} y de col: {coffee_df.shape[1]}")

El numero de filas es de 3547 y de col: 11

In [91]:
coffee_df.isnull().sum()

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

üßπ 2. Limpieza y preparaci√≥n

Ejercicio 2:
1Ô∏è‚É£ Convierte la columna Date a tipo datetime

2Ô∏è‚É£ Extrae el d√≠a, mes y a√±o en nuevas columnas (df['year'] = df['Date'].dt.year, etc.)

3Ô∏è‚É£ Elimina filas donde money sea nulo o 0

4Ô∏è‚É£ Aseg√∫rate de que money es tipo float

In [92]:

coffee_df['Date']= coffee_df['Date'].astype('datetime64[s]')
coffee_df.dtypes # compruebo si cambio la columna

hour_of_day            int64
cash_type             object
money                float64
coffee_name           object
Time_of_Day           object
Weekday               object
Month_name            object
Weekdaysort            int64
Monthsort              int64
Date           datetime64[s]
Time                  object
dtype: object

crea  nuevas columnas

In [93]:
coffee_df['year']=coffee_df['Date'].dt.year
coffee_df['month']=coffee_df['Date'].dt.month
coffee_df['day']=coffee_df['Date'].dt.day

#borro las columnas pq solo er apra practicar crear:D
coffee_df.drop(columns=['year', 'month', 'day'] , inplace=True)
coffee_df #comprueboq ue no aparezca:D

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000
...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000

In [94]:
# Elimina las filas donde sean nullos en money
coffee_df.dropna(how='any', subset=['money'])
coffee_df.isnull().sum()

hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

In [95]:
coffee_df['coffee_name'].unique()

array(['Latte', 'Hot Chocolate', 'Americano', 'Americano with Milk',
       'Cocoa', 'Cortado', 'Espresso', 'Cappuccino'], dtype=object)

In [96]:
coffee_df['money'].dtype

dtype('float64')

In [97]:
coffee_df.head(3)

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000

FIltra todas las compras de la m√±anana

In [98]:
coffee_df[coffee_df['Time_of_Day']==('Morning')]

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
11,10,card,28.90,Americano,Morning,Sat,Mar,6,3,2024-03-02,10:22:06.957000
12,10,card,33.80,Americano with Milk,Morning,Sat,Mar,6,3,2024-03-02,10:41:41.249000
13,11,card,33.80,Americano with Milk,Morning,Sat,Mar,6,3,2024-03-02,11:59:45.484000
17,10,card,38.70,Latte,Morning,Sun,Mar,7,3,2024-03-03,10:27:18.561000
...,...,...,...,...,...,...,...,...,...,...,...
3530,10,card,30.86,Americano with Milk,Morning,Sat,Mar,6,3,2025-03-22,10:30:09.403000
3531,11,card,35.76,Hot Chocolate,Morning,Sat,Mar,6,3,2025-03-22,11:14:05.960000
3532,11,card,35.76,Cocoa,Morning,Sat,Mar,6,3,2025-03-22,11:41:20.579000
3541,10,card,35.76,Latte,Morning,Sun,Mar,7,3,2025-03-23,10:07:11.278000
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000

muestra las compras mayores a 40$$$$

In [99]:
coffee_df[coffee_df['money']>40]

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time]
Index: []

3Ô∏è‚É£ Filtra las transacciones hechas en efectivo (cash_type == 'Cash')

In [100]:
coffee_df[coffee_df['cash_type']=='cash']

Empty DataFrame
Columns: [hour_of_day, cash_type, money, coffee_name, Time_of_Day, Weekday, Month_name, Weekdaysort, Monthsort, Date, Time]
Index: []

es tipo float money?

In [101]:
coffee_df['money'].dtype== float

True

4Ô∏è‚É£ Muestra solo Date, coffee_name y money

In [102]:
coffee_df.loc[:,['Date', 'coffee_name', 'money']]

           Date    coffee_name  money
0    2024-03-01          Latte  38.70
1    2024-03-01  Hot Chocolate  38.70
2    2024-03-01  Hot Chocolate  38.70
3    2024-03-01      Americano  28.90
4    2024-03-01          Latte  38.70
...         ...            ...    ...
3542 2025-03-23     Cappuccino  35.76
3543 2025-03-23          Cocoa  35.76
3544 2025-03-23          Cocoa  35.76
3545 2025-03-23      Americano  25.96
3546 2025-03-23          Latte  35.76

[3547 rows x 3 columns]

Ejercicio 4:

Ordena por money de mayor a menor

Ordena por Monthsort y dentro de cada mes por money

Muestra las 10 ventas m√°s altas

In [103]:
coffee_df['money'].sort_values(ascending=False)

225     38.70
226     38.70
228     38.70
213     38.70
216     38.70
        ...
957     18.12
952     18.12
1448    18.12
1492    18.12
1423    18.12
Name: money, Length: 3547, dtype: float64

Ordena por Monthsort y dentro de cada mes por money

In [104]:
coffee_df.sort_values(by=['Monthsort', 'money'], ascending=[True, True])

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
2644,14,card,21.06,Espresso,Afternoon,Thu,Jan,4,1,2025-01-09,14:27:23.682000
2682,20,card,21.06,Espresso,Night,Mon,Jan,1,1,2025-01-13,20:51:18.275000
2742,11,card,21.06,Espresso,Morning,Wed,Jan,3,1,2025-01-22,11:24:45.856000
2760,12,card,21.06,Espresso,Afternoon,Sun,Jan,7,1,2025-01-26,12:36:34.041000
2783,19,card,21.06,Espresso,Night,Wed,Jan,3,1,2025-01-29,19:20:34.695000
...,...,...,...,...,...,...,...,...,...,...,...
2598,16,card,35.76,Cappuccino,Afternoon,Tue,Dec,2,12,2024-12-31,16:07:18.883000
2599,17,card,35.76,Latte,Night,Tue,Dec,2,12,2024-12-31,17:10:17.537000
2601,17,card,35.76,Cappuccino,Night,Tue,Dec,2,12,2024-12-31,17:31:48.543000
2602,19,card,35.76,Latte,Night,Tue,Dec,2,12,2024-12-31,19:07:25.413000
2603,19,card,35.76,Hot Chocolate,Night,Tue,Dec,2,12,2024-12-31,19:08:38.899000

Muestra las 10 ventas m√°s altas

In [105]:
coffee_df['money'].sort_values(ascending=False).drop_duplicates().head(10)
#acordase de esta funcion de drop duplciates apra si mostrarme todo buien sin repetir

225     38.70
389     37.72
3500    35.76
177     33.80
447     32.82
3510    30.86
74      28.90
1308    27.92
2931    25.96
29      24.00
Name: money, dtype: float64

üßÆ 5. Nuevas columnas y transformaciones

Ejercicio 5:
1Ô∏è‚É£ Crea una nueva columna tip que sea el 10% de money

2Ô∏è‚É£ Crea una columna money_category:

'Low' si money < 3

'Medium' si money est√° entre <5

'High' si money > 5

3Ô∏è‚É£ Crea una columna is_morning con valores booleanos (True si Time_of_Day == 'Morning')

In [110]:
coffee_df['tip']=coffee_df['money']*0.10
coffee_df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,tip
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000,3.870
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000,3.870
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000,3.870
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000,2.890
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000,3.870
...,...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000,3.576
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000,3.576
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000,3.576
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000,2.596
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000,3.576

In [117]:
coffee_df['money_category']= coffee_df['tip'].apply(
    lambda money: 'Low' if money<3 else ('Medium' if money <5 else 'High')
)
coffee_df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,tip,money_category
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000,3.870,Medium
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000,3.870,Medium
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000,3.870,Medium
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000,2.890,Low
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000,3.870,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000,3.576,Medium
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000,3.576,Medium
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000,3.576,Medium
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000,2.596,Low
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000,3.576,Medium

In [118]:
coffee_df['is_morning']= coffee_df['Time_of_Day']=='Morning'
coffee_df

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time,tip,money_category,is_morning
0,10,card,38.70,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000,3.870,Medium,True
1,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000,3.870,Medium,False
2,12,card,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000,3.870,Medium,False
3,13,card,28.90,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000,2.890,Low,False
4,13,card,38.70,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000,3.870,Medium,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000,3.576,Medium,True
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000,3.576,Medium,False
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000,3.576,Medium,False
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000,2.596,Low,False
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000,3.576,Medium,False

üìä 6. Estad√≠sticas

Ejercicio 6:

1Ô∏è‚É£ Calcula la media, mediana, m√°ximo y m√≠nimo de money

2Ô∏è‚É£ Muestra la desviaci√≥n est√°ndar

3Ô∏è‚É£ Muestra qu√© hora del d√≠a (morning, afternoon, evening) tiene la mayor media de gasto

4Ô∏è‚É£ Muestra qu√© tipo de caf√© (coffee_name) tiene el mayor gasto medio

In [ ]:
media = coffee_df['money'].mean()
median= coffee_df['money'].median()
max_money= coffee_df['money'].max()
min_money= coffee_df['money'].min()

print(f'''
    La media en money es de{ media:.2f}  
    La mediana en money es de{ median:.2f}  
    EL valor maximo en money es { max_money:.2f}  
    EL valor min en money es { min_money:.2f}  
''')

    La media en money es de31.65
    La mediana en money es de32.82
    EL valor maximo en money es 38.70
    EL valor min en money es 18.12

In [ ]:
# o tb columns_numeric = coffee_df.select_dtypes(include=['number'])
standart_desviation = coffee_df.std(numeric_only=True)
print(f"La desviaci√≥n estandar de : {standart_desviation}")

La desviaci√≥n estandar de : hour_of_day    4.234010
money          4.877754
Weekdaysort    1.971501
Monthsort      3.500754
tip            0.487775
is_morning     0.471338
dtype: float64