# Review : Exploratory Data Analysis con Pandas y Preprocessing
#### UD1. Introducción al Machine Learning
#### MP. Sistemas de Aprendizaxe Automático
#### IES de Teis (Vigo), Vanesa Resúa Eiras, Cristina Gómez Alonso

En este notebook repasaremos los conceptos trabajados anteriormente e introduciremos algunos nuevos.

### *Ejercicio 1: Importación*

Carga en un dataframe el fichero adults.csv y muestra las primeras 10 filas.

In [3]:
import pandas as pd

adults_df = pd.read_csv("adult.csv")
adults_df.head(10)

    age          workclass  fnlwgt  ... hours-per-week  native-country   gains
0  50.0   Self-emp-not-inc   83311  ...           13.0   United-States   <=50K
1  38.0            Private  215646  ...           40.0   United-States   <=50K
2  53.0            Private  234721  ...           40.0   United-States   <=50K
3  28.0            Private  338409  ...           40.0            Cuba   <=50K
4  37.0            Private  284582  ...           40.0   United-States   <=50K
5  49.0            Private  160187  ...           16.0         Jamaica   <=50K
6  52.0   Self-emp-not-inc  209642  ...           45.0   United-States    >50K
7  31.0            Private   45781  ...           50.0   United-States    >50K
8  42.0            Private  159449  ...           40.0   United-States    >50K
9  37.0            Private  280464  ...           80.0   United-States    >50K

[10 rows x 15 columns]

### *Ejercicio 2: Datos generales*

1. ¿Cuántas filas y columnas tiene el dataset?

In [4]:
print(f"El numero de filas es de {adults_df.shape[0]} y de columnas {adults_df.shape[1]}")

El numero de filas es de 32560 y de columnas 15

2. Muestra información detallada de cada columna. Para cada tipo de datos, ¿Cuántas columnas tienes de dicho tipo?

In [6]:
adults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32559 non-null  float64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32554 non-null  float64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32552 non-null  float64
 13  native-country  32560 non-null  object
 14  gains           32560 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 3.7+ MB

In [8]:
adults_df.dtypes.value_counts()

object     9
float64    3
int64      3
Name: count, dtype: int64

3. Muestra información estadística de cada columna numérica y responde a las siguientes preguntas.¿Cuantos años tiene el usuario más mayor y el más joven? ¿Cuál es la mayor ganancia para un usuario? ¿En qué cuartil se superan las 40h semanales de trabajo?

In [9]:
adults_df.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32559.000000  3.256000e+04  ...  32560.000000    32552.000000
mean      38.582266  1.897818e+05  ...     87.306511       40.438345
std       13.640374  1.055498e+05  ...    402.966116       12.346980
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178315e+05  ...      0.000000       40.000000
50%       37.000000  1.783630e+05  ...      0.000000       40.000000
75%       48.000000  2.370545e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [31]:
print(f"El usuario mas mayor tiene {adults_df['age'].max()}, el menor tiene {adults_df['age'].min()}")
print(f"La mayor ganancia es de : {adults_df['capital-gain'].max()}")
print(f"El cuartil que supera las 40h es  : {adults_df['hours-per-week'].quantile(0.75)}")

El usuario mas mayor tiene 90.0, el menor tiene 17.0
La mayor ganancia es de : 99999
El cuartil que supera las 40h es  : 45.0

4. ¿Existen nulos en alguna de las columnas?

In [37]:
adults_df.isnull().sum() #osea de esta manera cuenta los nulos fde la otra siun el sum te muestra lka tabla 
# si quiere saber

age               1
workclass         0
fnlwgt            0
education         0
education-num     6
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    8
native-country    0
gains             0
dtype: int64

### *Ejercicio 3: Índices*

1. ¿Qué valores diferentes tiene la columna relationship? ¿En qué proporción?

In [54]:
adults_df['relationship'].unique() #mostrar los != valores tienen  un para maero que e ses normalize y ese esta truete sale en porcentaje
adults_df['relationship'].value_counts(normalize=True)*100
#adults_df.value_count(subset=['relationship])
#

relationship
Husband           40.519042
Not-in-family     25.503686
Own-child         15.565111
Unmarried         10.583538
Wife               4.815725
Other-relative     3.012899
Name: proportion, dtype: float64

2. ¿Y la columna native-country?

In [28]:
adults_df['native-country'].value_counts()

native-country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

3. Crea un nuevo dataframe llamado adults_new_index con un índice para las columna relationship y native-country.

In [29]:
adults_new_index = adults_df.set_index(['relationship', 'native-country'])
adults_new_index.head()

                               age          workclass  ...  hours-per-week   gains
relationship  native-country                           ...
Husband       United-States   50.0   Self-emp-not-inc  ...            13.0   <=50K
Not-in-family United-States   38.0            Private  ...            40.0   <=50K
Husband       United-States   53.0            Private  ...            40.0   <=50K
Wife          Cuba            28.0            Private  ...            40.0   <=50K
              United-States   37.0            Private  ...            40.0   <=50K

[5 rows x 13 columns]

### *Ejercicio 4: Selección de datos específicos por columna/fila*

1. Muestra los datos exclusivamente de las columnas edad, sexo y ganancias.
2. Sobre el conjunto anterior muestra las últimas 10 filas.

In [34]:

adults_df[['age', 'sex', 'capital-gain']]

        age      sex  capital-gain
0      50.0     Male             0
1      38.0     Male             0
2      53.0     Male             0
3      28.0   Female             0
4      37.0   Female             0
...     ...      ...           ...
32555  27.0   Female             0
32556  40.0     Male             0
32557  58.0   Female             0
32558  22.0     Male             0
32559  52.0   Female         15024

[32560 rows x 3 columns]

In [35]:
adults_df[['age', 'sex', 'capital-gain']].tail(10)

        age      sex  capital-gain
32550  32.0     Male             0
32551  43.0     Male             0
32552  32.0     Male             0
32553  53.0     Male             0
32554  22.0     Male             0
32555  27.0   Female             0
32556  40.0     Male             0
32557  58.0   Female             0
32558  22.0     Male             0
32559  52.0   Female         15024

3. Muestra los datos de las columnas primera, segunda, tercera y quinta para las 100 primeras filas. Ordena el resultado de forma descendente por edad.

In [41]:
adults_df.iloc[:100,[0,1,2,4]].sort_values(by='age', ascending=False)

     age workclass  fnlwgt  education-num
73  79.0   Private  124744           10.0
99  76.0   Private  124191           14.0
76  67.0         ?  212759            6.0
82  59.0   Private  159937            9.0
23  59.0   Private  109015            9.0
..   ...       ...     ...            ...
36  19.0   Private  544091            9.0
69  19.0   Private  101509           10.0
77  18.0   Private  309634            7.0
79  18.0   Private  446839            9.0
50   NaN   Private  226956            9.0

[100 rows x 4 columns]

4. Muestra las 4 últimas columnas para todas las filas.

In [51]:
adults_df.iloc[:,-5:]

       capital-gain  capital-loss  hours-per-week  native-country   gains
0                 0             0            13.0   United-States   <=50K
1                 0             0            40.0   United-States   <=50K
2                 0             0            40.0   United-States   <=50K
3                 0             0            40.0            Cuba   <=50K
4                 0             0            40.0   United-States   <=50K
...             ...           ...             ...             ...     ...
32555             0             0            38.0   United-States   <=50K
32556             0             0            40.0   United-States    >50K
32557             0             0            40.0   United-States   <=50K
32558             0             0            20.0   United-States   <=50K
32559         15024             0            40.0   United-States    >50K

[32560 rows x 5 columns]

5. Utilizando el dataframe que has creado en el ejercicio 3.3, recupera el número de usuarios/as de nacionalidad cubana y solteros/as.  ¿Cómo lo harías sobre el dataframe adults que no tiene dicho índice?

In [69]:
# ussandop el index
cubanos_solteros = adults_new_index.loc[(' Unmarried', ' Cuba')].shape[0]
print(f"EL numero de cubanos solteros/as y cubanos/as es de {cubanos_solteros}")

EL numero de cubanos solteros/as y cubanos/as es de 13

/tmp/ipykernel_18571/2467839831.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  cubanos_solteros = adults_new_index.loc[(' Unmarried', ' Cuba')].shape[0]

In [66]:
#no indice
cubanos_solteros = adults_df[(adults_df['native-country'] == ' Cuba') & (adults_df['relationship'] == ' Unmarried')].shape[0]
print(f"EL numero de cubanos solteros/as y cubanos/as es de {cubanos_solteros}")

EL numero de cubanos solteros/as y cubanos/as es de 13

6. EXTRA1: Busca todos aquellos hombres casados de nacionalidad cubana

In [71]:
cubanos_casados = adults_df[
    (adults_df['sex'] == 'Male') &
    (adults_df['marital-status']==' Married') &
    (adults_df['native-country'] == ' Cuba')
]

7. EXTRA2: Busca todos aquellos hombres casados de nacionalidad cubana que trabajen más de 40 horas a la semana

8. EXTRA3: Crea un nuevo dataframe que contenga exclusivamente a aquellos usuarios con nacionalidad portuguesa, francesa o nord-americana. Pista: utiliza la función isin. Borra las columnas occupation, capital-gain y capital-loss. Crea una nueva columna 'age-range' que tome los valores young para usuarios menores de 30 años, old para mayores de 60 y intermediate en cualquier otro caso.

9. EXTRA4: Busca información sobre las funciones isnull, dropna y fillna. ¿Para qué se utilizan? Por un ejemplo interesante para cada una de ellas dónde se demuestre su utilidad.

### *Ejercicio 5: Agrupaciones*

1. Tomando los datos presentes en este dataset, ¿Cuál es la nacionalidad que tiene una mayor media de edad? ¿Y menor media?

### *Ejercicio 6: Gráficos*

1. Para cada columna (o feature) numérica, crea un gráfico de barras que muestre su distribución de valores.

2. EXTRA: A continuación tienes un código que crea gráficos que muestran la distribución de las ganancias respecto al resto de columnas. Extrae conclusiones de los resultados y propón realizar estos gráficos para otra columna que consideres de interés.

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_numerics = adults.select_dtypes(include = np.number)

figure=plt.figure(figsize = (15, 6))

for i, column in enumerate(df_numerics.columns, 1):
    axes = figure.add_subplot(3,3,i)
    sns.kdeplot(x = df_numerics[column], hue = adults['gains'], fill = True, ax = axes)
    figure.tight_layout()

### *Ejercicio 7: Valores missing*

1. Gestiona los valores nulos con la técnica del rellenado. ¿Qué valores piensas que deberían de tener los nulos presentes en el dataset?

2. Borra las columnas fnlwgt, education, capital_gain y capital_loss.

### *Ejercicio 8: Datos categóricos*

1. Transforma todas las columnas categóricas a numéricas con un LabelEncoder.

### *Ejercicio 9: Escalado de los datos*

1. EXTRA1: Divide el dataset en 4 grupos (training y testing).
2. EXTRA2: Escala las columnas categóricas con un StandardScaler.

# Webgrafía


[Curso de Cesar Guirò](https://cesguiro.es/doku.php?id=clase:ia:saa:start)
[Curso de Luz Frías](https://github.com/koldLight/curso-python-analisis-datos)
[Curso de Tirtjakupto Sarkar](https://github.com/tirthajyoti/Machine-Learning-with-Python)
[DataCamp](https://www.datacamp.com/)

# Licencia

[Attributon-ShacerAlike 4.0 International](https://creativecommons.org/licenses/by-sa/4.0/)

Puedes utilizar libremente este material, con las siguientes condiciones:

* Atribuir la autoría a este documento.
* Si lo utilizas y haces cambios, deberás liberarlo también bajo la misma licencia.